body {
    background-color: #333;
    color: rgb(245, 245, 220);
    display: flex;
    min-height: 85vh;
    flex-direction: column;
    font-family: Arial, sans-serif;
    font-size:20px;
    text-align: center;
}

h1{
    color: rgb(192, 172, 172);
}

img{
    width: 500px;
    height: 300px;
    align-self: center;
    margin-top: 36px;
    margin-bottom: 36px;
    border-radius: 6px;

}

.container {
    display: flex;
    flex-direction: column;    
    gap: 24px;
    padding: 10%;
    width: 80%;
    height: 50%;
    background-image: url('https://img.freepik.com/fotos-gratis/riqueza-de-pilha-de-moedas-cresce-com-investimento-gerado-por-ia_188544-18520.jpg');
    background-size: cover; /* Isso fará com que a imagem de fundo cubra todo o elemento body */
    background-position: center; 
    /* background-color: aqua; */
}

form, #resp{
    background-color:rgb(30, 126, 46);
    border-radius: 6px;
    width: 410px;
    height: 300px;
    text-align: center;
    align-content: center;   
    margin: auto;
    padding: 2%;
    display: flex;
    flex-direction: column;
}

label,input,select{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
   
}

button, label, input, select{
    padding: 5px;
    width: 200px;
    height: 36px;
    border-radius: 8px;
    align-self: center;
    font-size: 20px;
}

button {
    background-color: #333;
    border: none;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
}
a {
    color: inherit;
    text-decoration: none;
   }
span{
    font-family: 'Pacifico', cursive;
    /* font-family: 'Vina Sans', sans-serif; */
    font-size: 44px;
    color: rgb(190, 247, 181);
    letter-spacing: 0.1em;
}
menu{
    background-color: rgba(255, 228, 196, 0.082);
    color: rgb(189, 192, 189);
    text-align: center;
    padding: 10px;   
    width: 100%;
    height: 44px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
footer {
    background-color: rgba(255, 228, 196, 0.082);
    color: rgb(189, 192, 189);
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
 }
 #resp{
    margin-top: 2%;
    background-color:rgb(30, 126, 46);
    width: 500px;
    height: 300px;
    /* margin: 6% 28%; */
    border-radius: 6px;
    padding: 1%;
    color: rgb(245, 248, 244);
}
 